/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
body{
    background: linear-gradient(#e7e5e4, #7da6c0);

}
.nav{
    width: 100%;
    height: auto;
    padding: 15px;
    background-image: url("../img/pica4.jpg");
    display: inline-flex;
    justify-content:space-around;
}
.nav ul{
    display: flex;
    justify-content: space-around;
}
.nav ul li{
    list-style:none;
}
.nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.nav ul li a:hover{
    border-bottom: 2px solid white;
}
.nav h1{
    color: orangered;
    font-family: "Brush Script MT", serif;
    font-size: 50px;
}
.nav h1 span{
    color: white;
}
.nav .logout{
    border-radius: 3px;
    color: black;
    border: 1px solid white;
}
.img-box{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.box-cont {
    width: 410px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
}
.box-cont span,button{
    margin: 15px 23px;
}
.box-cont h2{
    color: #17860b;
    font-family: "Brush Script MT", serif;
    text-align: center;
    padding: 5px;
}
.img-box img{
    border: 1px solid white;
}
.img-box img:hover{
    border: 1px solid black;
}

.hed h1{
    padding: 20px;
    text-align: center;
    color: orangered;
    font-family: "Brush Script MT", serif;
    font-size: 45px;
}
.order p{
    text-align: center;
    color: orangered;
    padding: 15px;
    font-family: "Brush Script MT", serif;
    font-size: 40px;
}
